.container {
  margin: 0 auto;
  max-width: 1800px;
  min-height: 1000px;
  padding: 100px;
  perspective: 5000px;
  outline: 2px solid red;
}

.title-1 {
  font-size: 50px;
  color: brown;
  text-align: center;
}

.container__box {
  max-width: 1800px;
  min-height: 1000px;
  background-image: url(../img/img-3d-map.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 15%;
  position: relative;
  left: 70px;
  transform: rotate3d(-2, -1, 1, -82deg);
}

.box-moscow {
  max-width: 300px;
  position: relative;
  top: -414px;
  left: 638px;
}

.box-pasad {
  max-width: 300px;
  position: relative;
  top: -684px;
  left: 660px;
}

.box-moscow:hover,
.box-pasad:hover {
  cursor: pointer;
  animation: box-moscow 3s 3;
}

@keyframes box-moscow {
  0% {}

  50% {
    scale: 1.3;
  }

  100% {}
}

.container__box_line-moscow {
  width: 3px;
  height: 40px;
  background-color: brown;
  position: relative;
  left: 95px;
}

.container__box_table-moscow {
  position: relative;
  width: 100px;
  height: 50px;
  background-image: url(../img/img-moscow.jpg);
  background-size: 100% 100%;
  border: 2px solid brown;
  border-radius: 10%;

}

.container__box_desc-moscow {
  width: 116px;
  height: 47px;
  background-color: rgb(0, 255, 136);
  border-radius: 10%;
  padding: 5px;
  position: relative;
  left: 90px;
}

.container__box_text-moscow {
  font-size: 25px;
  color: brown;
  margin: 0;
}

.container__box_table-pasad {
  position: relative;
  width: 100px;
  height: 50px;
  background-image: url(../img/img-pasad.PNG);
  background-size: 100% 100%;
  border: 2px solid brown;
  border-radius: 10%;

}

.container__box_line-pasad {
  width: 3px;
  height: 40px;
  background-color: brown;
  position: relative;
  left: 95px;
}

.container__box_desc-pasad {
  width: 116px;
  height: 47px;
  background-color: rgb(0, 255, 136);
  border-radius: 10%;
  padding: 5px;
  position: relative;
  left: 90px;
}

.container__box_text-pasad {
  font-size: 25px;
  color: brown;
  margin: 0;
}